body{
    margin: 0;
}
header{
    display: inline;
    margin-bottom: 0;
}
nav{
    text-align: right;
    padding: 16px;
    height: 40px;
    margin-top: 6px;
}
#logo{
    float: left;
    width: 40px;
    margin-left: 16px;
}
.menu-items{
    font-family: 'Poppins', sans-serif;
    color: black;
    font-size: 14px;
    margin-right: 16px;
    position: relative;
}
.dropdown-icon{
    width: 10px;
    margin-left:5px ;
}
#buy-now{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    color: white;
    background-color: rgb(170,210,54);
    padding: 9px 34px;
    border-radius: 4px;
    border: none;
    margin-left: 16px;
}
#dropdown-items{
    position: absolute;
    font-family: 'Poppins', sans-serif;
    right: 375px;
    border-top: 2px solid rgb(170, 210, 54);
    background-color: white;
    box-shadow: 0 2px 5px #ccc;
    padding-top: 16px;
    padding-bottom: 16px;
    width: 200px;
    height: 150px;
    text-align: left;
    top: 48px;
    display: none;
    z-index: 99;
}
#dropdown-wrapper:hover #dropdown-items{
    display: block;
}
#dropdown-items:hover{
    display: block;
}
.list-item{
   display: inline-block;
   padding: 8px 8px;
   margin-left: 8px;
   font-family: 'Poppins', sans-serif;
   border-bottom: 2px solid #ccc;
   margin-bottom: 16px;
   z-index: 99;
}
.list-item:last-of-type{
    border-bottom: none;
}
#dropdown-wrapper{
    display: inline;
    z-index: 99;
}
#section1{
    height: 1000px;
    background-image: url( https://edyoda.s3.ap-south-1.amazonaws.com/public/landing-background.png);
    background-repeat: no-repeat;
    background-position:0;
    position: relative;
    top: -60px;
    text-align: center;
}
#heading{
    width: 900px;
    text-align: center;
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    top: 225px;
    
}
#Section-Header{
    font-size: 44px;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 8.8px;
    line-height: 1.2;
}
#heading>p{
    font-size: 14px;
    letter-spacing: 0.5;
    color: #8b8b99;
}
#section2{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    box-sizing: border-box;
    position: relative;
    top: -250px;
}
.blocks{
    width: 25%;
    text-align: center;
    color: white;
    padding: 110px 50px;
}
.blocks i{
    font-size: 96px;
    font-weight: 900;
    transition: all 0.3s;
}
.blocks h3{
    font-family: 'Poppins', sans-serif;
}
.blocks p{
    font-size: 14px;
    letter-spacing: 0.5px;
    line-height: 1.6;
}
.blocks:hover i{
    transform: scale(1.1);
}
#step1{
    background-color: #5acda6;
}
#step2{
    background-color: #91ac41;
}
#step3{
    background-color: #e4b476;
}
#step4{
    background-color: #f69dad;
}
/* Store Qualities section */

#store-qualities{
    background-color: #f7eee2;
    text-align: center;
    height: 675px;
    padding-top: 35px;
    position: relative;
    top: -250px;
}

#store-qualities h5{
    color: #91ac41;
    font-size: 24px;
    font-family: 'Caveat', cursive;
}

#store-qualities h1{
    font-size: 44px;
    margin-bottom: 2px;
    margin-top: 0;
}

#store-qualities p{
    font-size: 16px;
    font-weight: 500;
    Color: #8b8b99;
    letter-spacing: 0.5px;
    margin-bottom: 60px;
}

#qualities-container{
    display: flex;
    text-align: center;
    width: 1100px;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
}

.qualities{
    width: 25%;
    height: 100%;  
    padding-left: 35px;
    padding-right: 35px;
}

.qualities i{
    font-size: 60px;
    background-color: #e3b375;
    color: white;
    padding: 40px;
    border-radius: 70px;
}

.qualities h1{
    font-size: 24px;
}
.qualities:hover i{
    transform: scale(1.1);
}
